﻿@{ 
    var post = (Post_clase)Model;
    var comentario = (List<Comentario>)ViewBag.Comentario;
}
<div>
    <h3>@post.Nombre</h3>
    <div>
        <p>@post.Autor</p>
        <p>@post.Fecha_Creacion</p>
        <div>
            <p><strong>Contenido</strong>@post.Contenido</p>
        </div>
    </div>
</div>
<div>
    <h3>COMENTARIOS</h3>

    <a href="/Post/RegistrarComentario?id=@post.Id">Nuevo Comentario</a>
    <div>
        @foreach(var item in comentario)
            {
                <p>@item.Opinion</p>
                <p>Fecha creacion: @item.FechaComentario</p>
            }
    </div>
</div>