﻿@{ 
    var post = (List<Post_clase>)Model;
}
<h1>Post T1_DIARS_Eliana</h1>

<a href="/Post/registrar">Crear Blog Post</a>
<br />
<table class="table"> 
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Autor</th>
            <th>Fecha de Creacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in post)
        {
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Autor</td>
            <td>@item.Fecha_Creacion</td>
            <td><a href="/Post/Detalle?id=@item.Id">Detalle</a></td>
        </tr>
        }

    </tbody>
</table>


